/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* Add this new animation */
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.blinking-cursor {
  animation: blink 1s step-end infinite;
}

@keyframes progress-bar {
  from { width: 0%; }
  to { width: 100%; }
}